[submodule "java_sdk_client"]
	path = java_sdk_client
	url = https://github.com/couchbaselabs/java_sdk_client
[submodule "lib/capellaAPI"]
	path = lib/capellaAPI
	url = https://github.com/couchbaselabs/CapellaRESTAPIs
[submodule "magma_loader/DocLoader"]
	path = magma_loader/DocLoader
	url = https://github.com/couchbaselabs/DocLoader.git
	branch = main
[submodule "gsi_utils"]
	path = gsi_utils
	url = https://github.com/couchbaselabs/gsi_utils.git
	branch = master
