[buildout]
parts = eggs scripts
develop = scripts
include-site-packages = false
download-cache = /tmp
allow-hosts =
    buildout.org
    *.python.org

[eggs]
recipe = zc.recipe.egg:eggs
eggs =
    paramiko==1.10.0
    boto==2.8.0
    btrc==2.2
    couchdbkit==0.6.4
    requests==1.1.0

[scripts]
recipe = zc.recipe.egg:scripts
extra-paths =
    ${buildout:directory}
eggs =
    ${eggs:eggs}
    cbbuildout
