bcrypt==3.1.7
docutils==0.16
beautifulsoup4==4.9.3
boto3==1.16.21
couchbase==3.2.0
cryptography==2.9.2
decorator==4.4.2
deepdiff==5.0.2
docutils==0.16
Faker
Geohash==1.0
paramiko==2.7.1
pycparser==2.20
urllib3==1.26.5
requests==2.25.0
httplib2==0.18.1
typing-extensions==3.7.4.3
google-cloud-storage==1.42.2
google-cloud-compute==0.6.0
numpy==1.21.6
h5py==3.8.0
wget==3.2
faiss-cpu==1.7.4
prettytable
flask
flask-cors
sentence-transformers==2.2.2
torch==2.0.1